body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

img {
    border-radius: .5rem;
    max-width: 90vw;
    max-height: 90vh;
    animation: fade 1s;
}

button {
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid black;
    transition: .3s;
}
button:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

#box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid black;
    transition: 1s;
}

@keyframes fade {
    from {
        width: 0;
        opacity: 0;
    } to {
        width: 100%;
        opacity: 1;
    }
}