body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: .3s;
}

#loader {
    z-index: 1;
    position: absolute;
    height: 5rem;
    animation: spin 3s infinite, pop .5s;
    transition: 1s;
}

#catImg {
    display: none; /* Será mudado para block quando carregar*/
    border-radius: .5rem;
    max-width: 90vw;
    max-height: 80vh;
    transition: 1s;
}

#changeBtn {
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid black;
    transition: .3s;
}
#changeBtn:hover {
    cursor: pointer;
    transform: translateY(-3px);
}
#changeBtn:active {
    scale: .9;
}

#box {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 5rem;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid black;
    transition: .3s;
}

.fade {
    animation: fade 1s;
}
.reverseFade {
    animation: fade 1s reverse;
}

/* ANIMAÇÕES */
@keyframes fade {
    from {
        width: 0;
        opacity: 0;
    } to {
        width: 100%;
        opacity: 1;
    }
}
@keyframes pop {
    from {
        scale: 0;
    } to {
        scale: 1;
    }
}
@keyframes spin {
    from {
        rotate: 0deg;
    } to {
        rotate: 360deg;
    }
}