body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

img {
    border-radius: .5rem;
    max-width: 90vw;
    max-height: 80vh;
}

button {
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid black;
    transition: .3s;
}
button:hover {
    cursor: pointer;
    transform: translateY(-3px);
}
button:active {
    scale: .9;
}

#box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid black;
}

.fade {
    animation: fade 1s;
}
.pulse {
    animation: pulse .5s infinite alternate ease-in-out;
}

@keyframes fade {
    from {
        width: 0;
        opacity: 0;
    } to {
        width: 100%;
        opacity: 1;
    }
}

@keyframes pulse {
    from {
        scale: .9;
    } to {
        scale: 1;
    }
}